<h3>Veiw Customer Details</h3>
<div  class="container-fluid" > 
    <div>
        <label><b>CustomerId : </b></label> {{ customer.customerId }}
    </div>
    <div>
        <label><b>Name : </b></label> {{ customer.username }}
    </div>
    <div>
        <label><b>Email : </b></label> {{ customer.email }}
    </div>
    <div>
        <label><b>Mobile Number : </b></label> {{ customer.mobileNumber }}
    </div>
    <div>
        <label><b>Date of Creation : </b></label> {{ customer.dateOfCreation }}
    </div>


</div>
