<app-header></app-header>
<div class = "container">
    <h4 class = "head">Your Account</h4>
    <div class = "grid-container">
        <div routerLink = "/orders">
            <div class = "img-box">
                <img src = "https://m.media-amazon.com/images/G/31/x-locale/cs/ya/images/Box._CB485927553_.png"> 
            </div>
        <div routerLink = "/orders" class = "text-material">
            <h5>Your Order</h5>
            <p>Track, return, or buy things again</p>
        </div>
        </div>
        <div routerLink = "/signin">
            <div class = "img-box">
                <img src = "https://m.media-amazon.com/images/G/31/x-locale/cs/ya/images/sign-in-lock._CB485931504_.png"> 
            </div>
        <div routerLink = "/signin" class = "text-material">
            <h5>Login & security</h5>
            <p>Edit login, name, and mobile number</p>
        </div>
        </div>
        <div routerLink = "/address">
            <div routerLink = "/address" class = "img-box">
                <img src = "https://m.media-amazon.com/images/G/31/x-locale/cs/ya/images/address-map-pin._CB485934183_.png"> 
            </div>
        <div class = "text-material">
            <h5>Your Addresses</h5>
            <p>Edit addresses for orders and gifts</p>
        </div>
        </div>
        <div>
            <div class = "img-box">
                <img src = "https://m.media-amazon.com/images/G/31/x-locale/cs/help/images/gateway/self-service/contact_us._CB623781998_.png"> 
            </div>
        <div class = "text-material">
            <h5>Contact Us</h5>
            <p></p>
        </div>
        </div>

    </div>


</div>
